.table{
  margin-top: 150px;
  margin-bottom: 250px;
  margin-left: auto;
  margin-right: auto;
}
th,td{
text-align: center;
}
html,body{

width: 100%;
height: 100%;
background-attachment: fixed;
background-repeat: no-repeat;
}

button{
  outline: none;
}
